body {
  background-color: #F5EEDC;
}

header {
  color: #DD4A48;
  text-align: center;
}

div {
  color: #97BFB4;
}

div ul {
  padding: 0;
  list-style-type: None;
  line-height: 200%;
}

div ul li {
  margin: 0 auto 1%;
}

div ul li a {
  text-decoration: none;
}

a:hover {
  color: #C0D8C0;
}
